@import "@/scss/mixins.scss";
@import "@/scss/variables.scss";

.select-dropdown {
  background-color: var(--color-background);
  border-radius: 4px;
  box-shadow:
    0 -1px 4px var(--color-shadow-select-1),
    0 2px 4px var(--color-shadow-select-2);
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.select-dropdown_bottom {
  top: 30px;
}

.select-dropdown_top {
  bottom: 35px;
}

.select-dropdown__wrapper {
  max-height: 228px;
  overflow: auto;
  padding-bottom: 4px;
}

.select-dropdown__container {
  display: grid;
}

.select-dropdown__item {
  @include reset-button();
  @include textBody();
  background-color: var(--color-background);
  height: 28px;
  padding: 5.5px 7px;
  text-align: start;
  transition: background-color $transition-time;
  word-break: break-word;

  &:hover,
  &:focus-within {
    background-color: var(--color-background-hover);
  }
}

.select-dropdown__item_active {
  background-color: var(--color-background-hover);
  cursor: default;
  pointer-events: none;
}

.select-dropdown__item_checkbox {
  height: unset;
  padding: 0;

  .checkbox__label {
    padding: 5.5px 7px;
  }
}

.select-dropdown__item_empty {
  padding-bottom: 14px;
  padding-top: 14px;
}
