@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

.checkbox {
  box-sizing: border-box;
  position: relative;

  &:not(.checkbox_disabled) {
    .checkbox__label:hover {
      .checkbox__square-icon {
        border-color: var(--color-border-hover);
      }
    }
  }
}

.checkbox_checked {
  .checkbox__check-icon {
    background: transparent;
    border-bottom: 1px solid var(--color-text-primary);
    border-left: 1px solid var(--color-text-primary);
    height: 5px;
    transform: translate(-50%, -50%) rotate(-45deg) translate(1px, -1px);
    width: 10px;
  }
}

.checkbox_disabled {
  .checkbox__label {
    cursor: default;
  }

  .checkbox__square-icon {
    background: var(--color-background-disabled);
    border-color: var(--color-background-disabled);
  }

  .checkbox__label-text {
    color: var(--color-text-disabled);
  }

  &.checkbox_checked {
    .checkbox__check-icon {
      border-bottom: 1px solid var(--color-text-disabled);
      border-left: 1px solid var(--color-text-disabled);
    }
  }
}

.checkbox_with-content {
  .checkbox__label {
    grid-template-columns: 24px 1fr;
  }
}

.checkbox__input {
  height: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.checkbox__label {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  gap: 8px;
  text-align: left;
  width: 100%;
}

.checkbox__icon-wrapper {
  box-sizing: border-box;
  display: grid;
  height: 24px;
  padding: 2px;
  width: 24px;
}

.checkbox__square-icon {
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  box-sizing: border-box;
  height: 20px;
  position: relative;
  transition: border-color $transition-time;
  width: 20px;

  &::after,
  &::before {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out $transition-time;
    width: 0;
    z-index: -1;
  }
}

.checkbox__check-icon {
  border: none;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox__label-text {
  @include textBody();
}
