.loader {
  align-items: center;
  display: grid;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 20;
  width: 100%;
}

.loader__spinner {
  height: 50px;
  width: 50px;
}
