.scrollbar {
  scrollbar-color: var(--color-scrollbar) var(--color-background);
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-background);
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar {
  background-color: var(--color-background);
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 3px;
}
