@import "@/scss/mixins.scss";

.chart-popup {
  background-color: var(--color-background);
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.2);
  display: grid;
  gap: 12px;
  max-height: 150px;
  padding: 12px 16px;
  position: absolute;
  width: 228px;
}

.chart-popup__heading {
  align-items: center;
  border-bottom: 1px solid var(--color-scrollbar);
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
  justify-content: start;
  padding-bottom: 12px;
}

.chart-popup__heading-icon {
  color: var(--color-icon);
}

.chart-popup__heading-date {
  @include textBody($color: var(--color-text-medium));
  line-height: 16px;
}

.chart-popup__info {
  display: grid;
  gap: 6px;
  max-height: 86px;
  overflow: auto;
}

.chart-popup__info-item {
  align-items: start;
  border: 1px dotted #f1f0f5;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  min-height: 24px;
}

.chart-popup__info-item-variation {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}

.chart-popup__info-item-color {
  border-radius: 50%;
  display: grid;
  height: 10px;
  width: 10px;
}

.chart-popup__info-item-name {
  @include textCaption();
}

.chart-popup__info-item-icon {
  color: var(--color-icon);
}

.chart-popup__info-item-value {
  @include textBody($color: var(--color-text-medium), $weight: $font-weight-semibold);
  line-height: 16px;
}
