.chart-settings {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.chart-settings__filters {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
}

.chart-settings__variations {
  min-width: 161px;
}

.chart-settings__options {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
}

.chart-settings__actions {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}

.chart-settings__features {
  align-items: center;
  display: grid;
  gap: 2px;
  grid-auto-flow: column;
}

.chart-settings__zoom {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
}

.chart-settings__zoom-out {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.chart-settings__zoom-in {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
