@import "@/scss/mixins.scss";

.chart {
  box-sizing: border-box;
  display: grid;
  gap: 11px;
  max-width: 1351px;
  padding: 12px 24px 24px;
  width: 100%;
}

.chart__wrapper {
  position: relative;
}

.chart__x-axis,
.chart__y-axis {
  @include textAccent();
}
