@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

.icon-button {
  @include reset-button();
  align-items: center;
  border-radius: 4px;
  color: var(--color-icon);
  display: grid;
  height: 27px;
  justify-content: center;
  width: 27px;

  svg {
    height: 11px;
    transition: color $transition-time;
    width: 11px;
  }
}

.icon-button_halo {
  position: relative;

  &::after {
    background-color: var(--color-border-hover);
    border-radius: 50%;
    content: "";
    height: 0;
    left: 50%;
    opacity: 0.1;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out $transition-time;
    width: 0;
  }

  &:hover,
  &:focus-within {
    &::after {
      height: 27px;
      width: 27px;
    }
  }
}

.icon-button_square {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  transition: border-color $transition-time;

  &:hover:not(.icon-button_disabled) {
    border-color: var(--color-border-hover);
  }

  &:focus-within:not(.icon-button_disabled) {
    border-color: transparent;
    box-shadow: $shadow-focus;
  }

  &.icon-button_disabled {
    background-color: var(--color-background-disabled);
    border-color: var(--color-background-disabled);
  }
}

.icon-button_disabled {
  color: var(--color-text-disabled);
  cursor: default;
  pointer-events: none;
}
