:root {
  --color-background: #ffffff;
  --color-background-disabled: #f2f2f2;
  --color-background-hover: #f7f7f7;
  --color-border: #c7c5d0;
  --color-border-hover: #767676;
  --color-icon: #5e5d67;
  --color-scrollbar: #e1dfe7;
  --color-text-disabled: #c4c4c4;
  --color-text-light: #918f9a;
  --color-text-medium: #52515b;
  --color-text-primary: #1b1b23;

  &[data-theme="dark"] {
    --color-background: #000027;
    --color-background-disabled: #f2f2f2;
    --color-background-hover: #f7f7f7;
    --color-border: #c7c5d0;
    --color-border-hover: #767676;
    --color-icon: #5e5d67;
    --color-scrollbar: #e1dfe7;
    --color-text-disabled: #c4c4c4;
    --color-text-light: #918f9a;
    --color-text-medium: #52515b;
    --color-text-primary: #1b1b23;
  }
}
