// FONT FAMILY
$font-main: "Roboto", "Arial", sans-serif;

// FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// TRANSITION TIME
$transition-time: 0.15s;

// SHADOWS
$shadow-focus: 0 0 0 2px #35cdfd;
